.container {
    width: 100%;
    height: 100vh;

    overflow: hidden;
    position: relative;
}

.blurMobile {
    position: absolute;
    top: 150px;
}

//Desktop
@media(min-width: 426px) {
    .blurMobile {
        display: none;
    }

    .blurDesktopOne {
        position: absolute;
        bottom: -150px;
    }
}